* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Raleway', sans-serif;
}

html {
    margin: 0;
}
::-webkit-scrollbar {
            width: 10px;
        }
        
        ::-webkit-scrollbar-track {
            background-color: rgb(39, 39, 39);
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: #86c232;
            border-radius: 5px;
        }
body {
    overflow-x: hidden;
}
/*/-- Loader --/*/
        .load {
            height: 100%;
            width: 100%;
            background-color: #343434;
            padding-top: 15%;
        }
        
        .loader-wheel {
            display: block;
            position: relative;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #86c232;
            height: 150;
            width: 150;
            animation: spin 2s linear infinite;
        }
        
        .loader-wheel:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #b1ff44;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            animation: spin 3s linear infinite;
        }
        
        .loader-wheel::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #567b23;
            top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
            animation: spin 1.5s linear infinite;
        }

   @keyframes spin {
            0% {transform: rotate(0deg)}
            100% {transform: rotate(360deg)}
        }

      .mainBod {
            height: 100%;
            display: none;
        }
    

/*/-- Home --/*/

    #home { 
        background: rgba(0, 0, 0, 0.32);
        height: 100%;
        z-index: -1;
        align-content: center;
        justify-content: center;
    }    
#home::before {
    background-image: url(images/homebg.jpg);
    position: absolute;
        background-size: cover;
    animation: aaa 20s linear infinite;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    }
.write {z-index: 1; background: white;}
@keyframes aaa{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#home .heading {
    padding-top: 35vh;
    visibility: visible;
        z-index: 1;
        padding-bottom: 160px;
	    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
	    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
	    animation-delay: 2s;
	    -webkit-animation-delay: 2s;
    }
    @-webkit-keyframes fadeInDown {
            0% {
               opacity: 0;
               -webkit-transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
         }
	
	    @-webkit-keyframes InDown {
            0% {
               -webkit-transform: translateY(-100px);
            }
            100% {
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes InDown {
            0% {
               transform: translateY(-100px);
            }
            100% {
               transform: translateY(0);
            }
         }
    #home .heading h1, h3 {
        color: #86c232;
        font-size: 37.0224;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #home h3 {
        font-size: 28.8;
    }
    
    
    .scroll-down a i {
        width: 35px;
        height: 35px;
        border: 2px solid #86c232;
        line-height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -webkit-transition: all 500ms ease-in-out 0s;
        -moz-transition: all 500ms ease-in-out 0s;
        -ms-transition: all 500ms ease-in-out 0s;
        transition: all 500ms ease-in-out 0s;
        text-align: center;
        color: #86c232;
        margin: 0 auto;
    }
	
.scroll-down {
	-webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
	    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
	    animation-delay: 4s;
	    -webkit-animation-delay: 4s;
	}
    
    #about .row .col-md-4 h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
    .row {
        margin: 0;
    }
    
    #about {
        padding-left: 200;
        padding-top: 50;
        padding-bottom: 50;
        color: #000;
        z-index: 2
    }
    
    #about .row .col-md-4 {
        border-right: 2px solid #afafaf;
    }
    #about .row .col-md-6 p {
        font-family: 'Raleway', sans-serif;
        text-align: left;
        font-weight: 300;
    }
	
    #people .row .col-md-4 h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-align: left;
    }
    .row {
        margin: 0;
    }
    
    #people {
        padding-left: 200;
        padding-top: 50;
        padding-bottom: 50;
        color: #000;
    }
    
    #people .row .col-md-4 {
        border-right: 2px solid #afafaf;
        text-align: left;
    }
    #people .row .col-md-6 p {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-align: left;
    }
    
    
    #works .row .col-md-4 h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-align: left;
    }
    
    .row {
        margin: 0;
    }
    
    #works {
        padding-top: 50;
        padding-bottom: 50;
        color: #474b4f;
        padding-left: 200;
    }
	
    
    #works .row .col-md-4 {
        border-right: 2px solid #afafaf;
        padding-left: 200;
        margin-bottom: 20px;
    }
    
    #works .row .col-md-6 p {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        padding-top: 20;
        text-align: left;
    }
	
    
    hr {
        margin-left: 70px;
        margin-right: 70px;
    }
    
    .image {
        width: 50%;
    }
    
    .image img {
        width: 100%;
    }
    
    #people .image {
        width: 25%;
    }
    
    .written {
        width: 30%;
    }
  
    #people .written {
        padding-top: 10%;
    }
    #works .abc .written h3 {
        color: black;
        font-size: 30;
        text-align: left;
    }
    
    #people .abc .written h3 {
        color: black;
        font-size: 30;
        text-align: left;
    }
    
    .abc .col-sm-6 {
        padding-left: 0;
    }
    
    #works .abc {
        border-right: none;
        margin-top: 50;
        padding-left: 60;
        text-align: left;
    }
    #people .abc {
        border-right: none;
        margin-top: 50;
        padding-left: 60;
        text-align: left;
    }
  	
    #contact {
        padding-top: 50;
        padding-bottom: 50;  
        color: #222;
        padding-left: 200;
    }
    
    #contact .row .col-md-4 h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-align: left;
    }
    
    .row {
        margin: 0;
    }
    
    #contact {
        padding-left: 200;
        padding-top: 50;
        padding-bottom: 50;
    }
    
    #contact .row .col-md-4 {
        border-right: 2px solid #e0e0e0;
        padding-bottom: 60;
        text-align: left;
    }
    
    #contact .row .col-md-6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        padding: 15;
        text-align: left;
    }
    
    #end {
        background-color: #ddd;
        color: #000;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        padding: 30px;
    }
    
    .font-alt {
        color: rgb(17, 17, 17);
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
    }
    
    #end img {
        width: 10%;
    }
    
    .navbar a:hover {
    background-color: #ddd;
    color: black;
}
    .navbar {
    overflow: hidden;
    background-color: none;
    position: fixed;
    width: 100%;
        border-radius: 0;
        z-index: 500;
        padding-left: 70px;
        padding-top: 10px;
	    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
	    -webkit-animation-name: InDown;
            animation-name: InDown;
        top: 0;
	    
}
    .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
	
    .right {

    text-align: right;
    right: 0;
    margin-right: 0;
}
	

