* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Raleway', sans-serif;
}

html {
    margin: 0;
}
::-webkit-scrollbar {
            width: 10px;
        }
        
        ::-webkit-scrollbar-track {
            background-color: rgb(39, 39, 39);
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: #86c232;
            border-radius: 5px;
        }
body {
    overflow-x: hidden;
}
/*/-- Loader --/*/
        .load {
            height: 100%;
            width: 100%;
            background-color: #343434;
            padding-top: 15%;
        }
        
        .loader-wheel {
            display: block;
            position: relative;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #86c232;
            height: 150;
            width: 150;
            animation: spin 2s linear infinite;
        }
        
        .loader-wheel:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #b1ff44;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            animation: spin 3s linear infinite;
        }
        
        .loader-wheel::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #567b23;
            top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
            animation: spin 1.5s linear infinite;
        }

   @keyframes spin {
            0% {transform: rotate(0deg)}
            100% {transform: rotate(360deg)}
        }

      .mainBod {
            height: 100%;
            display: none;
        }
    

/*/-- Home --/*/

    #home { 
        background: rgba(0, 0, 0, 0.32);
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        z-index: -1;
        align-content: center;
        justify-content: center;
    }    
#home::before {
    background-image: url(images/homebg.jpg);
    position: absolute;
    background-attachment: fixed;
        background-size: cover;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    }
.write {z-index: 1; background: white;}


#home .heading {
    padding-top: 35vh;
    visibility: visible;
        z-index: 1;
        padding-bottom: 160px;
    }

#home .heading h1 {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
	    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
	    animation-delay: 2s;
	    -webkit-animation-delay: 2s;
}

#home .heading h3{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: aa;
    animation-delay: 3.25s;
}
    @-webkit-keyframes fadeInDown {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 1;
               letter-spacing: 3px;
            }
            75% {
               letter-spacing: normal;
            }
        100% {
               letter-spacing: normal;
        }
         }
         
         @keyframes fadeInDown {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 1;
               letter-spacing: 3px;
            }
            100% {
               letter-spacing: normal;
            }
         }

@keyframes aa {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}
	
	    @-webkit-keyframes InDown {
            0% {
               -webkit-transform: translateY(-100px);
            }
            100% {
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes InDown {
            0% {
               transform: translateY(-100px);
            }
            100% {
               transform: translateY(0);
            }
         }
    #home .heading h1, h3 {
        color: #86c232;
        font-size: 37.0224;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #home h3 {
        font-size: 28.8;
    }
    
    
    .scroll-down a i {
        width: 35px;
        height: 35px;
        border: 2px solid #86c232;
        line-height: 30px;
        border-radius: 50%;
        transition: 500ms;
        text-align: center;
        color: #86c232;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
    }

.scroll-down a:hover i{
   transform: scale(1.1)
}
	
.scroll-down {
	-webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
	    -webkit-animation-name: aa;
            animation-name: aa;
	    animation-delay: 4s;
	    -webkit-animation-delay: 4s;
	}
    
    #about .about-head h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }

.about-head h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }

.about-head hr {
    border-top:solid 2px #86c232;
    width: 20%;
}


#contact .about-head h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }
#contact .about-head hr {
    border-top:solid 2px #86c232;
    width: 20%;
}

#about h4,h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#about i {
    font-size: 50px;
    color: #292929;
    margin: 10px;
}
#about .about-head hr {
    border-top:solid 2px #86c232;
    width: 20%;
}
    .row {
        margin: 0;
    }
    
    #about {
        padding: 50;
        color: #000;
        z-index: 2;
        align-content: center;
        justify-content: center;
    }
    
    #about .writen  {
        font-family: 'Raleway', sans-serif;
        text-align: left;
        font-weight: 300;
        padding-left: 200px;
        padding-right: 200px;
    }
	
    #people .about-head h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }

#people .about-head hr {
    border-top:solid 2px #86c232;
    width: 20%;
}
    .people-section{
  background: #f1f1f1;
  padding: 80px 0;
  text-align: center;
}

.people-pics{
  padding: 40px 0;
}

.people-pics img{
  width: 150px;
    height: 150px;
        border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(50%);
  transition: .3s;
  cursor: pointer;
}

.people-pics img:hover, .people-pics img.active{
  filter: none;
}


.people-contents{
  max-width: 600px;
  margin: auto;
}

.people{
  display: none;
}

.people.active{
  display: block;
}

.people p{
  color: #5c5c5c;
  margin-bottom: 20px;
}

.people .description{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}

.people .description span.hove {
    display: none;
}   

.people .description:hover span.hove {
display: contents}

.people .description:hover span.abcdef {
display: none}
    
    
    

    #people .abc {
        border-right: none;
        margin-top: 50;
        padding-left: 60;
        text-align: left;
    }
  	
    #contact {
        padding: 100;  
        color: #222;
    }
    
    
    .row {
        margin: 0;
    }
    
    
    #contact .row .col-md-4 {
        padding-bottom: 60;
        text-align: left;
    }
    
    #contact .row .col-md-6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        padding-left: 100;
        text-align: left;
    }
    
    #end {
        background-color: #ddd;
        color: #000;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        padding: 30px;
    }
    
    .font-alt {
        color: rgb(17, 17, 17);
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
    }
    
    #end img {
        width: 10%;
    }
    
    .navbar a:hover {
    background-color: #ddd;
    color: black;
}
    .navbar {
    overflow: hidden;
    background-color: none;
    position: fixed;
    width: 100%;
        border-radius: 0;
        z-index: 500;
        padding-left: 70px;
        padding-top: 10px;
	    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
	    -webkit-animation-name: InDown;
            animation-name: InDown;
        top: 0;
        transition: 0.5s;
	    
}
    .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.25s;
}
	
    .right {

    text-align: right;
    right: 0;
    margin-right: 0;
}
	

#contact col-md-4 {
    align-content: center;
    justify-content: center;
}

#contact form input[type=email], input[type=text], textarea {
    border: transparent solid 2px;
    border-bottom-color: #53791f;
    padding: 10;
    justify-content: center;
    align-content: center;
    width: 250px;
    transition: 0.5s;
    text-align: center;
    margin: 10px auto;
    background: none;
}

#contact form textarea {
    width: 280;
}

input[type="submit"] {
    border: #86c232 solid 2px;
    background: none;
    border-radius: 30px;
    padding: 10;
    justify-content: center;
    align-content: center;
    width: 150px;
    transition: 0.5s;
    text-align: center;
    margin: 5px auto;
}

input[type="submit"]:hover{
    background: #86c232;
    color: #fff;
}

#contact form input[type="email"]:focus-within {
    border: transparent solid 2px;
    border-bottom-color: #86c232;
    width: 300px;
}

#contact form input[type="text"]:focus-within {
    border: transparent solid 2px;
    border-bottom-color: #86c232;
    width: 300px;
}

#contact form textarea:focus-within {
    border: transparent solid 2px;
    border-bottom-color: #86c232;
    width: 320px;
}


/*nsdoxnfsdbnferasrbgsdinofzxbaiosdbznawiosdbnvioasdnvm idoanvieasndoivnz*/

#works .image{
  overflow: hidden;
  cursor: pointer;    
}

#works .image img{
  width: 25%;
  transition: 0.4s;
    margin: 5px;
}

#works .image:hover img{
  transform: scale(1.05);
}

@media screen and (max-width:960px) {
  #works .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  #works .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  #works .image{
    flex: 100%;
  }
}

