@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
    font-family: 'Akira';
    src: url('/font.otf');
}

html {
    background-color: #141414;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: rgb(232 237 223 / 0.7);
}

.custom-shape-divider-bottom-1687952567 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687952567 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1687952567 .shape-fill {
    fill: #181818;
}

.side-nav-toggle {
    z-index: 100;
    width: 1.75rem;
    aspect-ratio: 1;
    background: url("/menu.svg");
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
}

#side-nav[data-visible="true"] {
    transform: translateX(0%);
}

.side-nav-toggle[aria-expanded="true"] {
    background: url("/close.svg");
    background-repeat: no-repeat;
    background-position: center;
}