@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Akira";
    src: url("/font.otf");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: rgb(232 237 223 / 0.7);
}

.custom-shape-divider-bottom-1687952567 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687952567 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1687952567 .shape-fill {
    fill: #111;
}

.side-nav-toggle {
    z-index: 100;
    width: 1.75rem;
    aspect-ratio: 1;
    background: url("/menu.svg");
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
}

#side-nav[data-visible="true"] {
    transform: translateX(0%);
}

.side-nav-toggle[aria-expanded="true"] {
    background: url("/close.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.card::before,
.card-border::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        800px circle at var(--x) var(--y),
        rgba(255, 255, 255, 0.07),
        transparent 30%
    );
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

body:hover #trailer {
    opacity: 1;
}

html,
a,
button {
    cursor: none;
}

.card-border::before {
    background: radial-gradient(
        800px circle at var(--x) var(--y),
        rgba(146, 180, 201, 0.4),
        transparent 20%
    );
}

.card:hover::before {
    opacity: 1;
}

.cards:hover .card-border::before {
    opacity: 1;
}

.card-border {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: #333;
    z-index: -1;
}
